* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .same-section {
        margin-top: 200px;
        &_hero-section {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 30vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            &_background {
                background-image: url("../../pages/Home/HeroSection/Imgs/Rectangle\ 1.png") !important;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                filter: blur(2px);
                background: rgba(9, 12, 6, 0.01);
            }
            &_content {
                padding-top: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex-direction: column;
                width: 100%;
                height: 100%;
                z-index: 2;
                h1 {
                    font-family: Archivo;
                    z-index: 2;
                    font-size: 44px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: white;
                }
                &-two {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    position: relative;
                    h2 {
                        font-size: 12px;
                        font-family: Gotham;
                        font-weight: 400;
                        color: white;
                        text-transform: lowercase;
                    }
                    input {
                        padding: 5px 120px 5px 15px;
                        border-radius: 8px;
                        outline: none;
                        position: relative;
                    }
                    .fa-magnifying-glass {
                        color: rgba(0, 173, 51, 1);
                        position: absolute;
                        right: 10px;
                    }
                }

                a {
                    color: white;
                    font-size: 12px;
                }
            }
        }
        .visible {
            display: flex;
            width: 90%;
            margin: 0 auto;
        }
        .products {
            margin-left: 30px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    .value {
        padding-top: 100px;
        padding-left: 100px;
        color: rgba(9, 12, 6, 1);
        font-style: italic;
        font-size: 24px;
        opacity: 0.4;
        padding-bottom: 30px;
    }
    .container {
        margin-left: 90px !important;
    }
}
@media only screen and (max-width: 576px) {
    .same-section_hero-section_content {
        h1 {
            font-size: 30px;
        }
    }
}
@media only screen and (max-width: 380px) {
    .same-section_hero-section_content {
        h1 {
            font-size: 20px;
        }
    }
    .same-section{
        .value{
            margin-top: 50px;
            font-size: 14px;
            margin-left: -65px;
        }
        .container{
            margin-left: 30px !important;
        }
    }
}
